#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
  position: absolute;
}

#list {
  border: 1px solid red;
  text-align: center;
  list-style: none;
}

#new-task-form {
  text-align: center;
  margin: 0 auto;
}
